
<table class="tx-c1-staff" >
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.firstname" />
		</td>
		<td>
		{staff.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.middlename" />
		</td>
		<td>
		{staff.middlename}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.lastname" />
		</td>
		<td>
		{staff.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.gender" />
		</td>
		<td>
		{staff.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.title" />
		</td>
		<td>
		{staff.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.phone" />
		</td>
		<td>
		{staff.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.fax" />
		</td>
		<td>
		{staff.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.mail" />
		</td>
		<td>
		{staff.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.position" />
		</td>
		<td>
		{staff.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.employment_start" />
		</td>
		<td>
		{staff.employmentStart}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.biography" />
		</td>
		<td>
		{staff.biography}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.free_text" />
		</td>
		<td>
		{staff.freeText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.image" />
		</td>
		<td>
				<f:image src="{staff.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.birthdate" />
		</td>
		<td>
		{staff.birthdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_c1staff_domain_model_staff.is_management" />
		</td>
		<td>
		{staff.isManagement}
		</td>
	</tr>
</table>